streamlit
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
faiss-cpu
pypdf
python-dotenv
cohere==4.57
numpy==1.26.4
langdetect
arabic-reshaper
python-bidi
langsmith==0.1.147